<header class="site-header">
  <div class="brand">
    <a href="/" class="logo">{{ site.title }}</a>
  </div>
  <nav>
    <ul class="nav">
      {% for item in site.nav %}
        <li>
          <a href="{{ item.url }}"
             class="{% if page.url == item.url %}active{% endif %}">
             {{ item.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>
